<footer class="footer">
  <small>
    A Dragonhacks project
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>
